:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #e08d8d;
  --secondary-color: #ffb6c1;
  --title-text-color: #F0589C;

  --admin-title-color: #d12b28;
  --save-changes-color: #337ab7;
  --save-changes-hover: #1263aa;
  --cancel-changes-color: #afbbc2;
  --cancel-changes-hover: #9ba0a3;
  --preview-changes-color: #5cb85c;
  --preview-changes-hover: #2f741c;
  --edit-changes-color: #F0AD4E;
  --delete-color: #d12b28;
  --agreed-color: #48b02c;

  /*
  General button style
  */
  button:hover {
    border: none;
  }
  button:focus{
    outline: none;
  }
}

  /*
  General anchor style
  */
  a {
    font-weight: 900;
    color: black;
  }
  a:hover {
    font-weight: 700;
    color: var(--secondary-color);
  }

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* Estilo para las flechas del carrusel */
.ant-carousel .slick-prev, .ant-carousel .slick-next {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-top: -10px;

  color: #ffffff;
  font-size: 20px;
  line-height: 1;
  border: 0;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.ant-carousel .slick-prev::before{
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px; 
  height: 30px; 
  background-color: rgba(217, 150, 150, 0.6); 
  border-radius: 50%;
  transform: translate(-65%, -55%);
  z-index: -1; 
}

.ant-carousel .slick-next::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px; 
  height: 30px; 
  background-color: rgba(217, 150, 150, 0.6); 
  border-radius: 50%;
  transform: translate(-50%, -55%);
  z-index: -1; 
}

.ant-carousel .slick-prev:hover::before, .ant-carousel .slick-next:hover::before {
  background-color: rgba(185, 117, 117, 0.8); 
}

.ant-carousel .slick-prev {
  left: 20px; 
}

.ant-carousel .slick-next {
  right: 15px; 
}

@font-face {
  font-family: 'Cream_Cake';
  src: url('./fonts/Cream_Cake.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Warung_Kopi';
  src: url('./fonts/Warung_Kopi.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

